/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-image: url(chimene-gaspar-VQnKZ6S0p3k-unsplash.jpg);
    background-size: cover;
    margin-left: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  h1 {
    text-align: center;
    color: #23c7b9;
    font-size: 50px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.24);
    
  }
  
  /* Task input and button */
  #task {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f5f852;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24);

  }
  
  /* Task list */
  #taskList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24);

  }
  
  .completed {
    opacity: 0.7;
    text-decoration: line-through;
    animation: fadeIn 0.5s;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 100px;
    border-color: #4caf50;
  }
  
  label {
    flex-grow: 1;
    justify-content: center;
  }
  
  button.delete-button {
    background-color: #94f8ca;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 20px;
  }  
  
  #todo-input{
    align-items: center;
    text-align: center;
    justify-content: center;
    border-color: #f2ff40;
    margin-left: 35px;
    height:38px ;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }

  #todo-form{
    padding: 20px;
    align-items: center;
    justify-content: center;
    border: #070505;
    margin-left: 0px;
  }
  ::placeholder{
    text-align: center;
  }

  #datetime{
    text-align: center  ;
  }